.options-wrapper{
    display: flex;
    height: 95vh;
    flex-direction: column;
}

.options-nav-wrapper {
    display: flex;
    align-self: center;
    height: 100px;
    width: 800px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.choice-nav-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100px;
    width: 800px;
}

@media all and (max-width: 800px) {

    .options-nav-wrapper {
        max-width: 700px;
    }

    .options, .choice-link {
        max-width: 700px;
    }

    .alert-type {
        font-size: 20px !important;
    }

    .alert-location {
        font-size: 20px !important;
    }
}

@media all and (max-width: 700px) {

    .options-nav-wrapper{
        max-width: 500px;
    }

    .alert-location {
        margin-right: 5% !important;
    }

    .options, .choice-link {
        max-width: 500px;
    }
}

.not-selected {
    font-family: tahoma;
    color: black;
    align-self: center;
}

.select-txt {
    font-family: tahoma;
    color: rgb(240,0,10);
    align-self: center;
}

.tester {
    display: flex;
    align-self: center;
}

.one {
    display: flex;
    margin-right: 5px;
    justify-content: center;
    color: white;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 6px;
}

.two {
    display: flex;
    margin-right: 5px;
    justify-content: center;
    color: white;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 6px;
}

.three {
    display: flex;
    margin-right: 5px;
    justify-content: center;
    color: white;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-radius: 6px;
}

.number {
    align-self: center;
}

.options {
    display: flex;
    justify-content: space-between;
}


/**************/

.title {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: arial;
    align-self: center;
    margin-top: 30px;
}

.postcard {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
    align-self: center;
    background-color: black;
    border-radius: 8px;
    margin-bottom: 50px;
}

.postcard-title {
    font-family: arial;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

.postcard-body {
    font-family: arial;
    margin-top: 10px;
    margin-left: 30px;
    color: white;
    /*letter-spacing: 2px;*/
}

.sure {
    align-self: center;
    font-family: arial;
}

.people {
    font-weight: bold;
    color: red;
}

.north {
    color: black;
}

.alert-link {
    align-self: center;
    text-decoration: none;
}

.alert-icon {
    width: 10%;
}

.alert-select-txt {
    margin-left: 12px;
    align-self: center;
}

.select-alert-btn {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    color: black;
    height: 70px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: rgb(240,0,10);
}

.select-alert-btn:hover {
    cursor: pointer;
}

/*** back button ***/


.back-alert-link {
    margin-top: 30px;
    align-self: center;
    text-decoration: none;
}

.back-alert-icon {
    width: 10%;
}

.back-alert-select-txt {
    margin-left: 12px;
    align-self: center;
}

.back-select-alert-btn {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    color: black;
    height: 70px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: white;
}

.back-select-alert-btn:hover {
    cursor: pointer;
}
