.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
}

.title-wrapper {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-family: tahoma;
    color: black;
    align-self: flex-start;
}

.home {
    align-self: center;
}


.select-alert-btn {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    color: black;
    height: 90px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: rgb(240,0,10);
}

.select-alert-btn:hover {
    cursor: pointer;
}

.alert-link {
    text-decoration: none;
}

.alert-icon {
    width: 10%;
}

.alert-select-txt {
    margin-left: 12px;
    align-self: center;
}
